.form-group {
    margin-left: 5%;
    max-width: 200px;
}

.button_1 {
    margin-left: 5%;
}

.custom-radio {
    margin-left: 1cm;
}

h3 {
    margin-left: 5%;
}

.flex-container {
    display: flex;
}

#filter_submit{
    margin-top: 25px;
}